# Ignora la base de datos
*.db

# Logs y archivos temporales
*.log
*.temp

# Data
data/**/*.json

# Ignora directorios de entornos especificos
.vscode
.idea
.DS_Store

# Pruebas locales
pruebas.py
__pycache__/